.header1 {
    width: 1990px;
    height: 50px;
    background-color: #111592; 
    color: white;
    text-align: right;
    font-size: 20px;
  } 
  
  .header2 {
    width: 1990px;
    height: 50px;
    background-color: #BB1222;
  } 
  
  .navbar {
    width: 120px;
    height: 20px;
    margin: 11px 52px 11px 102px; 
    text-align: center; 
    float: left; 
    font-size: 22px;
  }  
  
    a:link {
      color: white;  
      text-decoration: none;
  } 
  
    a:visited {
      color: lime;
  }  
  
    a:hover{
      color: #FFFF33;
  } 
  
    a:active {
    color: orange
    } 
  
   .container { 
     width: 250px;
     height: 1060px;
     margin: 0px 2px 0px 50px; 
     float: left;
     text-align: center;  
     background-color: #F9E9CA;
  } 
  
   .red-letters {
     color: #BB1222; 
     
   } 
  
  .blue-letters {
     color: #111592; 
   } 
  