body{ /*CSS Styling external*/ 
    background-color: rgb(43, 53, 68); /*makes whole page this color*/
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /*flexbox*/
}

h1{
    font-size: 50px;
    color:white;
    margin-bottom: 20px;
    text-shadow: 1px 2px 2px lightseagreen
}

img{
    float: left;
    width: 250px;
    height:200px;
    margin: 0 15px 10px 0;
    border: 1px solid white;
    box-sizing: border-box;
}

p{
    font-size: 20px;
    color:whitesmoke;
    line-height: 24px;
    margin: 0 0 15px 0;
} 

.clear{
    overflow: auto; /*clearfix*/
}

